/*********  GENERAL  *********/

html,body{
        height: 100vh;
        width: 100%;
    }
    .no-padding-left{
        padding-left: 0px;
    }
    .no-padding-right{
        padding-right: 0px;
    }

.bubble{
    z-index: 999;
    pointer-events: none;
}
/* Hack text align */
.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: 768px) {
  .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .text-sm-center { text-align: center; }
  .text-sm-justify { text-align: justify; }
}

@media (min-width: 992px) {
  .text-md-left { text-align: left; }
  .text-md-right { text-align: right; }
  .text-md-center { text-align: center; }
  .text-md-justify { text-align: justify; }
}

@media (min-width: 1200px) {
  .text-lg-left { text-align: left; }
  .text-lg-right { text-align: right; }
  .text-lg-center { text-align: center; }
  .text-lg-justify { text-align: justify; }
}


.no-landscape{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999;
	background: black;
	opacity: 0.9;
	background-image: url(../img/landscape.png);
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	color: white;
	font-size: 2em;
	display: none;
}
 @media screen and (max-width:768px) and (orientation:landscape) {
	.no-landscape{
		display: block;
	}
}


@font-face {
	font-family: 'Conv_ChaletParisNineteenSeventy';
	src: url('../fonts/ChaletParisNineteenSeventy.eot');
	src: local('☺'), url('../fonts/ChaletParisNineteenSeventy.woff') format('woff'), url('../fonts/ChaletParisNineteenSeventy.ttf') format('truetype'), url('../fonts/ChaletParisNineteenSeventy.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.chalet{
    font-family: 'Conv_ChaletParisNineteenSeventy';
}
h1, h2, h3{
    color: #939393;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
div, p{
    color: #56575b;
    font-family: 'Open Sans', sans-serif;
}

.table>thead>tr>th {
    vertical-align: bottom;
     border-bottom: 1px solid #fff;
}
.table>tbody>tr>td {
    color: #939393;
    padding: 5px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}

.input-group-addon{
   background-color: transparent;
   border: 1px solid transparent;
}
.search-form-effect .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-bottom: 1px solid #ffffff;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(227, 227, 227);
    box-shadow: inset 0 1px 1px rgba(227, 227, 227,0);
     -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
nav:not(.mm-menu)
{
	display: none;
}

.hr-margin hr{
    margin-left: 20px;
}
.search-form-effect .form-control:focus {
    border-color: #e3e3e3;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(227, 227, 227);
    box-shadow: inset 0 0 1px rgba(0,0,0,.075), 0 0 8px rgb(227, 227, 227);
}
#fade-in {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    right: 0;
    z-index: 999;
    background: #fff;
    pointer-events: none;
    opacity: 0;
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
}
.btn-green{
    color: #939393 !important;
    border-radius: 10px;
    background-color: #fff !important;
    border-color: #fff !important;
}
.btn-green:hover, .btn-green:active, .btn-green:focus, .btn-green:active:focus{
    color: #000 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}
.checkbox label{
    font-size: 10px;
    text-decoration: underline;
}
@keyframes fadein {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

    hr {
        margin-top: 0;
        margin-bottom: 0;
        border: 0;
        border-top: 3px solid rgba(0,0,0,0);
    }
    a{
        color: #939393;
        text-decoration: none;
    }
    a:hover{
        color: #000;
        text-decoration: none;
    }
     a:visited, a:focus{
        color: #939393;
        text-decoration: none;
    }
    li { list-style-type:none;}
    ul li{
        text-decoration: none;
        list-style: none;
    }
    ul.thumbnails {
        margin-bottom: 0px;
    }
    .thumbnail{
        border: none;
    }


    .breadcrumb {
         margin-bottom: 0px;
        list-style: none;
         background-color: #fff;
        border-radius: 4px;
    }
    .list-group-item{
        padding: 0;
        margin-bottom: 2px;
        border: none;
    }

    .list-group-item a:hover + hr {
        border-top: 3px solid #beee26;
    }


    .img-align-center{
        margin: 0 auto;
    }

.bg-degraded{
    background: rgba(193,225,90,1);
    background: -moz-linear-gradient(left, rgba(193,225,90,1) 0%, rgba(19,90,113,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(193,225,90,1)), color-stop(100%, rgba(19,90,113,1)));
    background: -webkit-linear-gradient(left, rgba(193,225,90,1) 0%, rgba(19,90,113,1) 100%);
    background: -o-linear-gradient(left, rgba(193,225,90,1) 0%, rgba(19,90,113,1) 100%);
    background: -ms-linear-gradient(left, rgba(193,225,90,1) 0%, rgba(19,90,113,1) 100%);
    background: linear-gradient(to right, rgba(193,225,90,1) 0%, rgba(19,90,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1e15a', endColorstr='#135a71', GradientType=1 );
}

/*********  HEADER  *********/


 .tooltip-mapa{
 	width: auto;
 	height:30px;
 	padding:5px;
 	color: #333;
 	background:#BEEE26;
 	position:absolute;
 	z-index:99;
     display: none;
 }

.contenedor-mapa{
    overflow: hidden;
}

#list-store.inner-addon {
  position: relative;
}

/* style glyph */
#list-store.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
#list-store.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}
#list-store
/* add padding  */
#list-store.left-addon input  { padding-left:  30px; }
#list-store.right-addon input { padding-right: 30px; }



.fa-bars, .fa-times, .fa-arrow-right, .fa-arrow-left, .fa-search{
    color:#939393;
    font-size: 2em;
    line-height: 80px;
    display: block;
}
.close-busqueda{
    color: #939393;
    font-size: 2em;
    line-height: 20px;
}

    .fa-times, .fa-arrow-right, .fa-arrow-left, .fa-chevron-left, .fa-chevron-right,.fa-search{
        -webkit-text-stroke: 2px white;
    }

    .logo-top{
        line-height: 80px;
    }

    .logo-mobile, .open-menu-mobile, .open-search-mobile{
        line-height: 80px;
        color:#939393;
        font-size: 1em;
    }
    .glyphicon-search{

        color:#939393;
    }
    .open-search-mobile{
        font-size:  1.3em;
    }

    .margin-top-fixed{
        height: 80px;
        background: #fff;
    }
    .home-top {
        display: table;
        position: relative !important;
        text-align: center;
        width: 100%;
        height: 80vh;
/*        background: url(../img/1920.jpg) no-repeat top center scroll;*/
        background-color: white;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        background-position: bottom;
    }

    @media (max-width: 768px) {
        .home-top {
            height: 40vh;
        }
        .cycle-slideshow{
            height: 40vh;
        }
    }
    .home-top .home-body {
      display: table-cell;
      vertical-align: bottom;
      padding-bottom: 20px;
    }
    .home-body a{
        font-size: 30px;
        color: white;
    }

    @media (min-width: 768px) {
      .home {
        height: 100vh;
        padding: 0;
      }
      .home .home-body{
        font-size: 100px;
      }

    }

    .circle-icon2 {
        background: #ffc0c0;
        padding:30px;
        border-radius: 50%;
    }
    .circle-icon {
        background: #56575b;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        text-align: center;
        line-height: 100px;
        vertical-align: middle;
        padding: 30px;
    }
    .fa-stack{
        margin-left: -10px;
    }
    .fa-2x {
        font-size: 0.8em;
    }
    .fa-stack-1x{
        color: white;
    }
    .icon-background {
        color: #56575b;
    }
    .menu{
        position: relative;
        height: 80px;
    }
    .menu-redes{
        padding-top: 10px;
        font-size: 14px;
    }
    @media (min-width: 768px) {
        .menu-redes{
            font-size: 9px;
        }
    }
    @media (min-width: 1200px) {
    .menu-redes{
                font-size: 14px;
            }
    }
    .menu-active{
        pointer-events: none;

    }
    .menu-active hr{
        border-top: 3px solid #beee26;
    }
    .menu-active a{
        color: #56575b;
        font-weight: 600;
    }
    .dh{
        position: absolute;
        z-index: 3;
        opacity: 0;
        pointer-events: none;
        background: white;
        width: 0;
        height: 100%;
        left: 0;
        right: 0;
        padding-right: 30px;
    }
    .dh .menu-text{
        line-height: 80px;
        font-size: 20px;
        color: #939393;
    }
    .dh .fa-times{
        line-height: 80px;
        font-size: 2em;

    }
    .menu-down {
        position: absolute;
        height: 0;
        width: 100%;
        top: 80px;
        bottom: 50px;
        background: white;
        padding-top: 30px;
        display: none;
        text-transform: uppercase;
        font-size: 12px;
        z-index: 10;
    }
    .open-menu, .close-menu{
        cursor: pointer;
    }


    .menu-1 .list-group-item{
        font-size: 14px;
        margin-bottom: 20px;
    }
    .redes-menu-down{
        position: absolute;
        bottom: 15px;
        padding-left: 25px;
        font-size: 2em;
    }

    .divTiendas, .submenu-stores{
        margin-bottom: 0;
    }
    .categorias,.subcategorias, .submenu-stores{
        display: none;
    }

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
/*********  FOOTER  *********/

footer{
    color: #fff;
    padding: 50px;
}
footer p, footer h2{
    color: #fff;
}
.footer-info{
    padding-top: 20px;
}

/********* BLOCK NOVEDADES ***********/
.block-novedades, .block-contacto{
    padding: 50px 0 50px 0;
}
.block-novedades .vermas{
    font-size: 14px;
    padding-top: 20px;
}
.vermas a:hover{
    color: #56575b;
}
.block-novedades .vermas span{
    color: #56575b;
}
.block-list-news{
    padding-top: 30px;
}
/********* BLOCK ADDICTED ***********/
.block-addicted{
    background: #fff;
    position: relative;

}
@media(max-width: 767px){
    .block-addicted{background: transparent;}
}
.addicted{
    height: 400px;
    padding: 50px;
    text-align: center;
    color: #fff !important;
    background: url(../img/bg_addicted.png) no-repeat center center scroll;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
}

.newsletter {
    height: 400px;
    padding: 50px;
    text-align: center;
    /* padding: 20px 10% 20px 10%; */
    color: #fff !important;
    background: url(../img/bg_newsletter.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.block-promo{
    margin-bottom: 20px;
    margin-top: 20px;
}
.promo_banner{
    height: 400px;
    background: url(../img/promos/drive_fashion.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.promo {
    height: 400px;
    padding: 50px;
    text-align: center;
    color: #000 !important;
    margin-bottom: 20px;
/*    background: #e00035; */
}
.promo a{
    text-decoration: underline;
}
#btnSuscribir, #btnConsultar{
    width: 180px;
}
.newsletter div,.newsletter p, .newsletter a, .newsletter h1,.newsletter input, .addicted div,.addicted p, .addicted a, .addicted h1,.addicted input{
    color:#fff;
}
.newsletter .form-control{
     background-color: transparent;
    background-image: none;
    border-radius: 0px;
    border-top: transparent;
     border-left: transparent;
     border-right: transparent;
}
.newsletter .form-control:focus {

     border-top: transparent;
     border-left: transparent;
     border-right: transparent;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(227, 227, 227,0);
    box-shadow: inset 0 0 1px rgba(0,0,0,0), 0 0 8px rgba(227, 227, 227,0);
}
.newsletter .form-control::-webkit-input-placeholder {
    color: #fff;
    text-align: center;
}
.newsletter .fa-envelope-o, .fa-ticket{
    font-size: 2em;
}

#nameBoletin, #emailBoletin, #emailPromo{
    margin: 0 auto;
    text-align: center;
    width: 50%;
}
@media (max-width: 768px){
   #nameBoletin, #emailBoletin, #emailPromo{
        width: 80%;
    }

    .block-addicted .no-padding-left {
        padding-left: 15px;
    }
    .block-addicted .no-padding-right {
        padding-right: 15px;
    }
}
.newsletter .form-control::-webkit-input-placeholder {
    color: #fff;
    text-align: center;
}
.checkbox{

}
#msg-boletin, #msg-promo{
    margin-bottom: 10px;
    margin-top: 10px;
}

/********* BLOCK APP ***********/
.block-app{
    position: relative !important;
    height: auto;
    background:#fff;
}



/********* BLOCK REVISTA ***********/
.block-revista{
    position: relative !important;
    height: auto;
    background:#870026;
    display: none;
}

/********* BLOCK TIENDA ***********/

    .block-tienda{
        padding-top: 50px;
    }
    .description-tienda{
        margin: 30px 0px 40px 0px;
    }

    .pager{
        text-align: right;
    }
    .pager li>a, .pager li>span {
        display: inline-block;
        padding: 0;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 0;
        font-size: 2em;
    }
    .pager li>a:focus, .pager li>a:hover {
        text-decoration: none;
        background-color: #fff;
    }

    .carousel-control{
        background: #666;
        border: 0px;
        border-radius: 0px;
        display: inline-block;
        font-size: 34px;
        font-weight: 200;
        line-height: 18px;
        opacity: 0.5;
        padding: 4px 10px 0px;
        position: static;
        height: 30px;
        width: 15px;
    }
    .block-info-tienda{
        padding: 30px 0px 40px 0px;
    }
    .url-store a{
        font-size: 1.5em;
    }

.title-tienda{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

/********* BLOCK CONTACTO ***********/
.block-privacidad{
    padding-top: 50px;
    padding-bottom: 50px;
}

/********* BLOCK CONTACTO ***********/
    #map {
        margin-top: 20px;
        height: 400px;
        width: 100%;
        background-color: grey;
       }

    @media(max-width: 767px){
        #map {
            height: 200px;
           }
    }
    .block-info-contacto{
            padding: 30px 0px 40px 0px;
        }


.bg-degraded p, .bg-degraded h1, .bg-degraded h2, .bg-degraded div, .bg-degraded a{
    color: #fff;
}

.mm-navbar-bottom.mm-navbar-content-5 {
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
}
.mm-navbar-bottom.mm-navbar-content-5 a {
    width: 12%;
    padding: 0;

    font-size: 20px;
}

/******** /campo de busqueda **********/
 .search-form-effect {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 30px;
  background-color: #fff;
  margin-bottom: 0px;
/*  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;*/
/*  border-radius: 25px;*/
/*  border: 1px solid #ccc;*/
}
.search-form-effect input.form-control {
  padding-right: 20px;
 top: -5px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form-effect input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form-effect input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form-effect input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form-effect input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form-effect:hover,
.search-form-effect.hover {
  width: 85%;
/*  border-radius: 4px 25px 25px 4px;*/
    border-bottom: 1px solid #939393;
/*  background-color: red;*/
}

.search-form-effect .form-control{
     background-color: transparent;
    background-image: none;
    border-radius: 0px;
    border-top: transparent;
     border-left: transparent;
     border-right: transparent;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0);
}

.search-form-effect .form-control:focus {

     border-top: transparent;
     border-left: transparent;
     border-right: transparent;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(227, 227, 227,0);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0);
}

.search-form.form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 1;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30PX;
  text-align: center;
  color: #939393;
  left: initial;
  font-size: 14px;
}


.closeResultado{
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#msg-busqueda{
    position: absolute;
    top:103%;
    right: 0;
    width: 80%;
    padding-right: 15px;
    text-align: center;

}
#resultado{
    padding-top: 20px;
    max-height: 500px;
    overflow-y: auto;
    margin-bottom: 50px;
}


.block-resultados-busqueda{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    height: auto;
    width: 100%;
    top: 80px;
    display: none;
    z-index: 10;
}

/******** /campo de busqueda **********/
header{
    width: 100%;
    height: 80px;
    top: 0;
    background: white;
    position: fixed !important;
    z-index: 99;
}

.search-mobile{
    display: none;
    position: absolute;
    width: 100%;
    color: #939393;
    background: #fff;
    padding: 10px;
    top: 80px;
    left: 0;
    right: 0;
}
.search-mobile .form-control{
     background-color: transparent;
    background-image: none;
    border-radius: 0px;
    border-top: transparent;
     border-left: transparent;
     border-right: transparent;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0);
}

.search-mobile .form-control:focus {

     border-top: transparent;
     border-left: transparent;
     border-right: transparent;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(227, 227, 227,0);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0);
}



.search-mobile .form-control::-webkit-input-placeholder {
    color: #939393;
}

.search-mobile .form-control:focus {

     border-top: transparent;
     border-left: transparent;
     border-right: transparent;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(227, 227, 227,0);
    box-shadow: inset 0 0 1px rgba(0,0,0,0), 0 0 8px rgba(227, 227, 227,0);
}
.search-mobile .form-control::-webkit-input-placeholder {
    color: #939393;
    text-align: center;
}


.mm-listview>li>a, .mm-listview>li>span{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.mm-title{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}


/********************/
/*  SLIDE HOME      */
/********************/

.cycle-slideshow{
	width: 100%;
	height: 80vh;
	z-index: 0;
}

@media (max-width: 768px) {

    .cycle-slideshow{
        height: 40vh;
    }
}

.backgroundImg{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.pagers_slide{
	position: absolute;
	width: 100%;
	bottom: 10px;
	z-index: 2;
	font-size: 30px;
}
.pagers_slide span{
	cursor: pointer;
	margin: 3px;
}
.cycle-pager-active{
	color:#C0E446;
}

@media (max-width: 440px) and (max-height: 830px) {
  .promo_banner{
      height: 200px;
  }
}
