
/*******************************************/
  /*               GENERAL                   */
  /*******************************************/
  @font-face {
    font-family: 'chalet-regular';
    src: url('../fonts/chalet/chalet.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'champangne-regular';
    src: url('../fonts/champagne/Champagne-Limousines.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'champangne-italic';
    src: url('../fonts/champagne/Champagne-Limousines-Italic.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'champangne-bold';
    src: url('../fonts/champagne/Champagne-Limousines-Bold.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'champangne-italic-bold';
    src: url('../fonts/champagne/Champagne-Limousines-Bold-Italic.ttf'); /* IE9 Compat Modes */
}

  html,
  body,
  .home {
      height: 100%;
      font-family: 'chalet-regular';
  }
  
  h1 {
    font-family: 'chalet-regular';
      font-weight: 400;
  }
  
  .light {
      color: #fff;
  }
  
  .black {
      color: #7b7b7b;
  }
  
  .grey {
      color: #7b7b7b;
  }
  
  .no-padding,
  .col-md-5.no-padding,
  .col-md-4.no-padding,
  .col-md-3.no-padding,
  .col-xs-12.no-padding {
      padding-right: 0px;
      padding-left: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
  }
  
  .carousel,
  .carousel-inner,
  .carousel-inner .item {
      height: 100%;
  }
  
  .carousel-crop-img {
      position: absolute;
      height: 100% !important;
      max-width: unset !important;
  }
  
  #overlay {
      background: rgba(0, 0, 0, 0);
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      top: 0;
      z-index: 0;
      transition: opacity 1s ease;
  }
  
  .animate-text {
      pointer-events: none;
  }
  
  .no-events, .disabled {
      pointer-events: none;
  }
  
  .overlay:hover #overlay {
      opacity: 1;
      background: rgba(0, 0, 0, 0.3);
  }
  

  .msg-correct, .msg-error{
      display: none;
  }

  .seccion-container {
      overflow-y: scroll;
      height: 95%;
      width: 85%;
      position: absolute;
      top: 50px;
      left: 10%;
      text-align: left;
      color: #7b7b7b;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      padding-right: 35px;
  }
  
  .titulo1 {
      font-size: 4em;
      position: relative;
      color: #4F4F4F;
  }
  
  .titulo2 {
      font-size: 1.25em;
      position: relative;
      text-transform: uppercase;
  }
  
  .titulo2 p {
      margin-bottom: 15px;
  }
  
  .titulo-verde {
      font-size: 2em;
      font-style: italic;
      position: relative;
      color: #9FC868;
  }
  
  .parrafo-verde {
      font-size: 1em;
      position: relative;
      color: #9FC868;
      line-height: 2;
  }
  
  #fade-in {
      position: fixed;
      width: 100%;
      height: 100%;
      text-align: center;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
      background: #fff;
      pointer-events: none;
      opacity: 0.5;
  }
  
  
  #fade-in>div {
      margin-top: 20%;
  }
  
  #fade-in>div .fa-spinner {
      font-size: 4em;
      color: #333;
  }
  
  .footer-interiores {
      font-size: 12px;
      margin-top: 50px;
  }

  .modal-body{
    font-family: 'chalet-regular';
  }

  .link-login, .link-cuenta{
    font-family: 'chalet-regular';
    color: #9FC868 !important;
}
  
  /*******************************************/
  /*                HEADER                   */
  /*******************************************/
  
  header {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 998;
      background: transparent;
      height: 50px;
      line-height: 50px;
      padding: 10px 0 0 10px;
  }
  
  header.bg-light {
      background: #fff;
      color: #000;
  }
  
  .header-mobile {
      background: #fff;
      padding: 15px 0 0 15px;
  }
  
  .block-login {
      position: absolute;
      background: #fff;
      z-index: 999;
      width: 520px;
      height: 50px;
      right: -450px;
      top: 0;
  }
  
  .block-login .btn-login {
      border-radius: 10px;
      padding: 4px 20px;
      font-size: 12px;
      
  }
  
  .block-login .form-control {
      margin-right: 15px;
  }
  .buttons-loyality{
      position: fixed;
      top: 0;
      right: 20px;
  }
  .buttons-loyality a{
      color: inherit;
  }
  
  #openLogin {
      cursor: pointer;
      margin-right: 15px;
  }
  
  #openLoginMobile {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 15px;
  }
  
  .block-login-mobile {
      width: 100%;
      position: fixed;
      top: -350px;
      height: 300px;
      background: #fff;
      z-index: 996;
      padding: 25px;
  }
  
  .form-control {
      box-shadow: inset 0 1px 1px rgb(237, 237, 237);
      height: 35px;
      font-size: 12px;
  }
  .no-display{
      display: none;
  }
  .btn {
      padding: 3px 12px;
      border-radius: 0;
  }
  .btn-recovery{
      font-size: 0.8em;
      text-decoration: underline;
  }
  
  #btn-login{
    background: #9FC868;
    color: white;
    font-size: 1em;
  }
  
  .btn.focus,
  .btn:focus,
  .btn:hover {
      color: #fff;
      text-decoration: none;
      background-color: #4e4e4e;
      border-color: #4e4e4e;
  }


  .btn-logout  {
      font-size: 1em !important;
    color: #fff !important;
    background-color: #c9302c !important;
    border-color: #c9302c !important;

}
  .btn-logout:hover {
    color: #fff !important;
    background-color: #b1201b !important;
    border-color: #b1201b !important;
}
  
  .btn-default {
      color: #fff;
      background-color: #272727;
      border-color: #272727;
  }
  
  input:-webkit-autofill,
  input,
  .form-control {
      background-color: #ededed !important;
      border: 1px solid #ededed !important;
      border-radius: 0;
  }
  
  .block-login input:-webkit-autofill,
  .block-login input,
  .block-login .form-control {
      background-color: #ffffff !important;
      border: 1px solid #ffffff !important;
      border-bottom: 1px solid #333 !important;
      box-shadow: inset 0 1px 1px rgb(255, 255, 255);
      border-radius: 0px;
      text-align: center;
  }
  
  .button-menu,
  .button-menu-mobile {
      width: 30px;
      height: 30px;
      position: relative;
  }
  
  .bg-home .button-menu span,
  .bg-home .button-menu-mobile span {
      height: 4px;
      border-radius: 5px;
      background: #000;
  }
  
  .bg-interiores .button-menu span {
      height: 4px;
      border-radius: 5px;
      background: #fff;
  }
  
  .menu-content{
      position: fixed;
      z-index: 995;
      top: 0px;
      padding-top: 50px;
      width: 250px;
      height: 100%;
      left: -260px;
      opacity: 0;
      background: rgba(255, 255, 255, 1);
      transition: 300ms all;
  }
  .menu-content.open-menu{
      left: 0px;
      top: 0px;
      opacity: 1;
  }
  
  @media(max-width:768px) {
      .menu-content {
          position: fixed;
          z-index: 995;
          width: 100%;
          height: 350px;
          background: rgba(255, 255, 255, 1);
          text-align: center;
          top: -320px;
          left: 0;
      }
      .menu-content .menu-list{
          padding: 0px;
      }

      .menu-content.open-menu{
        top: 0;
        left: 0;
    }
      .menu-content #lineMenu{
        display: none;
    }
      .menu-content .open {
        position: fixed;
        z-index: 996;
        top: -380px;
        left: 0;
        width: 100%;
        height: 350px;
        background: rgba(255, 255, 255, 1);
    }
 
  }
  
  .menu-list {
      list-style-type: none;
      line-height: 300%;
      font-weight: bold;
      font-size: 12px;
      margin-top: 15px;
  }
  
  .menu-list li {
      position: relative;
      list-style-type: none;
      text-decoration: none;
  }
  .menu-list li a{
    font-family: 'chalet-regular';
    font-size: 1.2em;
    }
  
  .menu-list li a:hover,
  .menu-list li {
      list-style-type: none;
      text-decoration: none;
      color: initial;
  }
  
  #lineMenu {
      position: absolute;
      width: 0px;
      height: 5px;
      background: #9FC868;
      left: -40px;
      top: 15px;
      opacity: 1;
      transition: width .25s ease;
      -webkit-transition: width .25s ease;
      -moz-transition: width .25s ease;
  }
  
  .menu-list li a:hover ~ #lineMenu {
      width: 30px;
  }
  
  .more {
      width: 500px;
  }
  
  @media(max-width:768px) {
      .more {
          width: 100%;
      }
  }
  
  .morecontent span {
      display: none;
  }
  
  .morelink {
      display: block;
  }
  /*******************************************/
  /*                HOME                    */
  /*******************************************/
  
  .home {
      display: table;
      width: 100%;
      margin-top: 0px;
      padding: 50px 0 0 0;
      /*set left/right padding according to needs*/
      box-sizing: border-box;
      overflow: hidden;
       
  }
  
  .home .row {
      height: 100%;
      display: table-row;
       
  }
  
  .home .row .no-float {
      display: table-cell;
      float: none;
      /* transition: 600ms all; */
  }
  
  .footer-home {
      position: absolute;
      left: 30px;
      bottom: 10px;
      text-align: left;
      width: 80%;
      padding: 10px;
      font-size: 10px;
      color: white;
  }
  
  .footer-interno {
      font-size: 10px;
  }
  
  .bg-descubre {
      background-image: url(../img/backgrounds/Descubre-1.jpg);
      background-size: cover;
      background-position: top left;
      border-right: no-repeat;
      transition: 600ms all;
  }
  
  .bg-premios {
      position: relative;
      overflow: hidden;
      background-image: url(../img/backgrounds/premios-1.jpg);
      background-size: cover;
      background-position: top left;
      border-right: no-repeat;
      transition: 600ms all;
  }
  
  .bg-contacto {
      position: relative;
      overflow: hidden;
      background-image: url(../img/backgrounds/contacto-1.jpg);
      background-size: cover;
      background-position: top left;
      border-right: no-repeat;
      transition: 600ms all;
  }
  
  .bg-beneficios {
      background-image: url(../img/backgrounds/Beneficios-1.jpg);
      background-size: cover;
      border-right: no-repeat;
      transition: 600ms all;
  }
  
  .block-50h {
      height: 50%;
  }
  
  .logo-addicted {
      position: absolute;
      z-index: 2;
      width: 250px;
      top: 40px;
      left: 80px;
  }
  
  .block-text-descubre-home {
      position: absolute;
      width: 50%;
      left: 10%;
      bottom: 5%;
  }
  
  .block-text-premios-home {
      position: absolute;
      width: 50%;
      left: 10%;
      bottom: 10%;
  }
  
  .block-text-beneficios-home {
      position: absolute;
      width: 50%;
      left: 10%;
      bottom: 5%;
  }
  
  .home a.overlay {
      width: 100%;
      height: 100%;
      position: absolute;
  }
  
  .animate-text hr {
      height: 3px;
      width: 100px;
      text-align: left;
      margin: 0 0 0 0;
      border: none;
      color: #fff;
      background-color: #fff;
  }
  
  .animate-text hr,
  .animate-text p {
      opacity: 0;
      /*
      -webkit-transition: opacity .25s ease;
      -moz-transition: opacity .25s ease;
*/
  }
  /*
  .overlay:hover .animate-text hr,
  .overlay:hover .animate-text p {
      opacity: 1;
  }
*/
  /*******************************************/
  /*                CONTACTO                  */
  /*******************************************/
  
  .contacto {
      padding: 0 10% 0 10%;
  }
  
  .info-contacto {
      max-width: 50%;
      margin-left: 25%;
      margin-top: 50px;
      margin-bottom: 50px;
  }
  
  .info-contacto a {
      color: #4f4f4f;
      font-family: 'Open Sans', sans-serif;
      font-size: 25px;
  }
  
  @media (max-width: 768px) {
      .info-contacto {
          max-width: 80%;
          margin-left: 10%;
      }
  }
  
  .logo-contacto {
      padding: 10px 0 10px 0;
  }
  /*******************************************/
  /*                DESCUBRE                  */
  /*******************************************/
  
  .tarjeta {
      width: 300px;
      max-width: 400px;
  }
  
  .descubre {
      font-family: 'chalet-regular';
      color: #939393;
      font-size: 16px;
  }
  
  .descubre ul {
      padding: 20px;
  }
  
  .descubre .nivel {
      padding-bottom: 50px;
  }
  
  .descubre hr {
      height: 3px;
      width: 200px;
      text-align: left;
      margin: 10px 0 20px 0;
      border: none;
      color: #9FC868;
      background-color: #9FC868;
  }
  
  .title-descubre {
      font-family: 'chalet-regular';
      font-size: 25px;
  }
  
  .green {
      color: #9FC868;
  }
  
  .pasos {
      list-style: none;
      padding-left: 0px;
  }
  
  .icono-pasos {
      background-repeat: no-repeat;
      line-height: 50px;
      padding-left: 50px;
  }
  
  .img-pasos {
      max-width: 511px;
  }
  
  @media(max-width: 768px) {
      .img-pasos {
          width: 300px;
      }
  }
  /*******************************************/
  /*            BENEFICIOS                   */
  /*******************************************/
  
  .interiores {
      margin-top: 0px;
  }
  
  .cycle-slideshow {
      position: absolute;
      width: 100%;
      height: 100%;
  }
  
  .img-slide {
      background-size: cover;
      background-position: top left;
      width: 100%;
      height: 100%;
      position: absolute;
  }
  
  .logo-slide {
      width: 400px;
      position: absolute;
      top: 5%;
      left: 5%;
      z-index: 100;
  }
  
  @media(max-width: 768px) {
      .logo-slide {
          width: 230px;
          height: 100px;
          top: 20%;
          left: 50%;
          margin-left: -90px;
      }
  }
  
  .block-slide {
      position: fixed;
      height: 100%;
      width: 40%;
  }
  
  .block-content {
      position: relative;
      background: #fff;
      height: auto;
      width: 60%;
      overflow-x: hidden;
      margin-left: 40%;
      padding: 8% 15px 15px 5%;
  }
  
  .block-content .title-content {
      font-size: 3em;
      font-family: 'chalet-regular';
      color: #9FC868;
      margin-left: -5px;
      line-height: 1em;
  }
  
  .block-content .fa-chevron-left {
      color: #D0D0D0;
      -webkit-text-stroke: 2px white;
  }
  
  @media (max-width: 768px) {
      .block-slide {
          position: relative;
          height: 300px;
          width: 100%;
      }
      .block-content {
          position: relative;
          height: auto;
          width: 100%;
          margin-left: 0;
      }
  }
  
  .block-content-interno {
      background: blue;
  }
  
  .title-content-xs {
      position: absolute;
      z-index: 100;
      width: 300px;
      color: #fff;
      bottom: 20px;
      left: 50%;
      margin-left: -150px;
      z-index: 100;
      text-align: center;
  }
  
  .title-content-xs hr {
      height: 3px;
      width: 100px;
      text-align: center;
      border: none;
      color: #fff;
      background-color: #fff;
  }
  
  .puntos {
      font-family: 'Roboto', sans-serif;
      /*      color: #91b421;*/
      color: #BFE05A;
      padding: 10px 0 10px 0;
      font-size: 18px;
  }
  
  .media {
      margin-bottom: 60px;
  }
  
  .media-object {
      border: 1px solid #e6e6e6;
      width: 150px;
  }
  
  .media-body h1 {
      text-transform: uppercase;
      font-size: 1.5em;
      color: #4f4f4f;
      margin-top: 0;
      width: 100%;
      max-width: 400px;
  }
  
  .media-body p {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      color: #939393;
      width: 100%;
      max-width: 400px;
  }
  
  @media( max-width:600px) {
      .block-content {
          padding: 20px 10px 20px 10px;
      }
      .descubre {
          padding: 20px;
      }
      .media-object {
          /*          margin: 0 15%;*/
          width: 100px;
      }
      /*
      .media-body {
          width: 250px;
          padding: 15px 10px 15px 5px;
      }
*/
  }
  /*******************************************/
  /*               CONTACTO                 */
  /*******************************************/
  
  .info-antara {
      font-size: 12px;
      text-align: justify;
  }
  /*******************************************/
  /*       EFECTOS MENU HAMBURGUESA          */
  /*******************************************/
  
  #nav-icon1,
  #nav-icon2,
  #nav-icon3,
  #nav-icon4 {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
  }
  
  #nav-icon1 span,
  #nav-icon3 span,
  #nav-icon4 span {
      display: block;
      position: absolute;
      width: 100%;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
  }
  
  #nav-icon1 span:nth-child(1) {
      top: 0px;
  }
  
  #nav-icon1 span:nth-child(2) {
      top: 18px;
  }
  
  #nav-icon1 span:nth-child(3) {
      top: 36px;
  }
  
  #nav-icon1.open span:nth-child(1) {
      top: 18px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
  }
  
  #nav-icon1.open span:nth-child(2) {
      opacity: 0;
      left: -60px;
  }
  
  #nav-icon1.open span:nth-child(3) {
      top: 18px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
  }
  /* Icon 2 */
  
 /* #nav-icon2 {} */
  
  #nav-icon2 span {
      display: block;
      position: absolute;
      height: 9px;
      width: 50%;
      background: #d3531a;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
  }
  
  #nav-icon2 span:nth-child(even) {
      left: 50%;
      border-radius: 0 0px 0px 0;
  }
  
  #nav-icon2 span:nth-child(odd) {
      left: 0px;
      border-radius: 0px 0 0 0px;
  }
  
  #nav-icon2 span:nth-child(1),
  #nav-icon2 span:nth-child(2) {
      top: 0px;
  }
  
  #nav-icon2 span:nth-child(3),
  #nav-icon2 span:nth-child(4) {
      top: 18px;
  }
  
  #nav-icon2 span:nth-child(5),
  #nav-icon2 span:nth-child(6) {
      top: 36px;
  }
  
  #nav-icon2.open span:nth-child(1),
  #nav-icon2.open span:nth-child(6) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
  }
  
  #nav-icon2.open span:nth-child(2),
  #nav-icon2.open span:nth-child(5) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
  }
  
  #nav-icon2.open span:nth-child(1) {
      left: 5px;
      top: 7px;
  }
  
  #nav-icon2.open span:nth-child(2) {
      left: calc(50% - 5px);
      top: 7px;
  }
  
  #nav-icon2.open span:nth-child(3) {
      left: -50%;
      opacity: 0;
  }
  
  #nav-icon2.open span:nth-child(4) {
      left: 100%;
      opacity: 0;
  }
  
  #nav-icon2.open span:nth-child(5) {
      left: 5px;
      top: 29px;
  }
  
  #nav-icon2.open span:nth-child(6) {
      left: calc(50% - 5px);
      top: 29px;
  }
  /* Icon 3 */
  
  .bg-home #nav-icon3 span:nth-child(1) {
      top: 0px;
      background: #9FC868;
      border-radius: 0px 0 0 0px;
  }
  
  .bg-home #nav-icon3 span:nth-child(2),
  .bg-home #nav-icon3 span:nth-child(3) {
      top: 10px;
      background: #9FC868;
      border-radius: 0px 0 0 0px;
  }
  
  .bg-home #nav-icon3 span:nth-child(4) {
      top: 20px;
      background: #9FC868;
      border-radius: 0px 0 0 0px;
  }
  
  .bg-home #nav-icon3.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
      background: #9FC868;
      border-radius: 0px 0 0 0px;
  }
  
  .bg-home #nav-icon3.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      background: #9FC868;
      border-radius: 0px 0 0 0px;
  }
  
  .bg-home #nav-icon3.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      background: #9FC868;
      border-radius: 0px 0 0 0px;
  }
  
  .bg-home #nav-icon3.open span:nth-child(4) {
      background: #9FC868;
      border-radius: 0px 0 0 0px;
      top: 18px;
      width: 0%;
      left: 50%;
  }
  
  .bg-interiores #nav-icon3 span:nth-child(1) {
      top: 0px;
      background: #fff;
      border-radius: 0;
  }
  
  .bg-interiores #nav-icon3 span:nth-child(2),
  .bg-interiores #nav-icon3 span:nth-child(3) {
      top: 10px;
      background: #fff;
      border-radius: 0;
  }
  
  .bg-interiores #nav-icon3 span:nth-child(4) {
      top: 20px;
      background: #fff;
      border-radius: 0;
  }
  
  .bg-interiores #nav-icon3.open span:nth-child(1) {
      background: #9FC868;
      border-radius: 0;
      top: 18px;
      width: 0%;
      left: 50%;
  }
  
  .bg-interiores #nav-icon3.open span:nth-child(2) {
      background: #9FC868;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
  }
  
  .bg-interiores #nav-icon3.open span:nth-child(3) {
      background: #9FC868;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
  }
  
  .bg-interiores #nav-icon3.open span:nth-child(4) {
      background: #9FC868;
      top: 18px;
      width: 0%;
      left: 50%;
  }


  /* Icon 4 */
  
  /* #nav-icon4 {} */
  
  #nav-icon4 span:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
  }
  
  #nav-icon4 span:nth-child(2) {
      top: 18px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
  }
  
  #nav-icon4 span:nth-child(3) {
      top: 36px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
  }
  
  #nav-icon4.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: -3px;
      left: 8px;
  }
  
  #nav-icon4.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
  }
  
  #nav-icon4.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 39px;
      left: 8px;
  }
  /*******************************************/
  /*              CONDITIONS                 */
  /*******************************************/
  
  @media (max-width: 767px) {
      .logo-addicted {
          width: 230px;
          height: 100px;
          left: 50%;
          margin-left: -90px;
          top: 10px;
      }
      .home .row{
          display: block;
      }
      .home .row .no-float {
          display: block;
          float: none;
          /*          height: 280px;*/
      }
      .bg-descubre {
          height: 300px;
      }
      .block-pares {
          height: 400px;
      }
      .block-unico {
          height: 200px;
      }
      #overlay {
          opacity: 1;
      }
      .animate-text {
          left: 0;
          padding: 20px;
      }
      .animate-text hr {
          margin: 0 auto;
      }
      .animate-text hr #overlay,
      .animate-text p,
      .animate-text hr {
          opacity: 1;
      }
      .home .animate-text p {
          font-size: 12px;
      }
      .block-text-descubre-home {
          position: absolute;
          width: 100%;
          bottom: 0px;
          text-align: center;
      }
      .block-text-premios-home {
          position: absolute;
          width: 100%;
          top: 15%;
          text-align: center;
      }
      .block-text-beneficios-home {
          position: absolute;
          width: 100%;
          top: 15%;
          text-align: center;
      }
      .block-slide-interno {
          height: 350px;
      }
  }


@media (max-width: 576px){
    .bg-interiores .buttons-loyality {
        color: #fff;
    }
}