
#descubre {
	line-height:1.5em;
	margin-top:10px;
}
#descubre li {
	
	list-style:disc;

	margin-left:50px;
	padding:10px;
}

.detalles {
	font-family: 'Chalet-ParisNineteenEighty';
	font-size:40px;
	font-style:normal;
	color:#666;
	
}
.vermas { margin-top:100px; margin-left:80px; width:150px; padding:5px; text-align:center; font-size:1em; color:#FFF;}

.vermas a{ color:#FFF;}


.columnas {
		margin-top:40px;
		-moz-column-count: 2;
        -moz-column-gap: 100px;
        -webkit-column-count: 2;
        -webkit-column-gap: 100px;
        column-count: 2;
		column-gap: 100px;
}

.espacio { margin-left:40px; }

.espacio2 { margin-left:75px; }

