@font-face {
				font-family: 'Chalet-NewYorkNineteenSixty';
				src: url('fonts/chaletnewyorksixty.eot');
				src: url('fonts/chaletnewyorksixty.eot?#iefix') format('embedded-opentype'),
						 url('fonts/chaletnewyorksixty.woff') format('woff'),
						 url('fonts/chaletnewyorksixty.ttf') format('truetype'),
						 url('fonts/chaletnewyorksixty.svg#chaletnewyorksixty') format('svg');
				font-weight: normal;
				font-style: normal;
}

@font-face {
				font-family: 'Chalet-ParisNineteenEighty';
				src: url('fonts/chaletpariseighty.eot');
				src: url('fonts/chaletpariseighty.eot?#iefix') format('embedded-opentype'),
						 url('fonts/chaletpariseighty.otf') format('opentype'),
						 url('fonts/chaletpariseighty.svg#chaletpariseighty') format('svg');
				font-weight: normal;
				font-style: normal;
}


/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
	font-size: 1em;
	
}
html,body {
	margin:0px;
	padding:0;
	
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/* General */
body{
	font-family: Tahoma;
	background: #FFF;
	font-weight: 400;
	font-size: 15px;
	color: #000;
	overflow-y: scroll;
	overflow-x: hidden;
}
input { border:none; }



.bgCuadritos {

background: transparent url(../imagenes/pattern.png) repeat top left; 
position:fixed; 
width:100%; 
height:100%;
}

.pics img { display: none; }

.contenedor {
width:100%; 
height:100%;
min-width:1100px;
min-height:600px;
position:absolute;
}

.contenidos{
width:970px; 
height:100%; 
position:absolute; 
left:50%; 
margin-left:-360px;
padding-bottom:100px;
}

.rVerde {
background-color:#6a953f;
width:735px;
/* height:525px; */
position:absolute;
top:50%;
margin-top:-300px;
margin-left:-500px;
left:50%;
display:block;

}

.preRegistro {
z-index: 9999; 
position: fixed; 
background-color: rgba(0, 0, 0, 0.8); 
color: rgba(0, 0, 0, 0.8); 
top: 0px; 
left: 180px; 
width: 100%; 
height: 100%; 
display:none;
min-width:1200px;
}



.titulo { height:40px; background-color:#000; color:white; padding: 10px 0px 0px 10px;}
.lineaForm {height:5px; background-color:#658a43;  display:block; clear:both; margin:10px 0; }
.seccion {width:200px; float:left; margin: 0px 0px 0px 20px; padding: 5px; height: auto;  display:block; }


 .caja {  
        padding: 2px;  
        font-size: 12px; 
        width: 200px; 
        text-shadow: 0px 1px 0px #fff;  
        outline: none;  
        -webkit-border-radius: 3px;  
        -moz-border-radius: 3px;  
        border-radius: 3px;  
        border:none;  
        -webkit-box-shadow: 1px 1px 0px #efefef;  
        -moz-box-shadow: 1px 1px 0px #efefef;  
        box-shadow:  1px 1px 0px #efefef;  

    }  

       .caja:focus {  
        -webkit-box-shadow: 0px 0px 5px #007eff;  
        -moz-box-shadow: 0px 0px 5px #007eff;  
        box-shadow: 0px 0px 5px #007eff;  
    }  

.cajatransparent { background-color:#6a953f;  color:white; border:none;  width:200px;}

#btn_enviar{ background-color:black; color:white; border:none; cursor:pointer; font-size:1.2em; width:130px; margin:10px;}
#btn_enviar:hover{ background-color:black; color:#6b983f; border:none; cursor:pointer;}

.hide{
    display: none;
}
.ajaxgif{
    position: absolute;
    right: 150px;
    top: 5px;
}
.msg{
    color: white;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    position: absolute;
    right: -155px;
    text-transform: uppercase;
    min-width: 121px;
}
.msg_ok{
    background: #589D05;
}
.msg_error{
    background: red;
}



.color { color:#6b983f;}
.linea { border-bottom-style:solid; margin-top:10px; border-bottom-width:thin; border-bottom-color:#666;}



a{
	text-decoration: none;
}

.footer {
	font-size: 10px;
	color: #000;
	width: 100%;
	height: auto;
	position: relative;
	text-align: center;
	bottom:0px;
	margin-top:150px;
}

.logoAntara {
	position: absolute;
	width: 83px;
	height: 112px;
	right: 10%;
	bottom: 0px;
}
.txtFooter {
	position: absolute;
	width: 550px;
	height: 50px;
	right: 50%;
	margin-right:-250px;
	bottom: 0px;
	
}

.txtFooter a { text-decoration: underline; color:#000;}
.txtFooter a:hover { color:#5bb206;}



input.text, input.submit{
	width: 70%;

	padding: 8px;
	color: #8c8c8c;
	border: 1px solid #393939;
	margin-bottom: 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	font-size: 16px;
}
input.text.active{

	border-color: #000;
	color: #fff;
}

.requisites{
	padding: 0 2px 0 2px;
	display: none;
	font-size: 0.5em;
	position:absolute;
	 overflow:hidden;
}
.requisites.error{

	background: #FFC;
	color: #171717;
	display:inline;
	font-size: 0.8em;
	
}
input.error{
	color:white;
	background: red;
	border-color: #171717;
	
}


/* AJAX Gif y mensajes de exito o fracaso */
.hide{
	display: none;
}
.ajaxgif{
	position: absolute;
    right: 150px;
    top: 5px;
}
.msg{
    color: white;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    position: absolute;
	right: -155px;
    text-transform: uppercase;
	min-width: 121px;
}
.msg_ok{
	background: #589D05;
}
.msg_error{
	background: red;
}