/* Rectangulo del menu */
.panel {
	width: 171px;
	height: 100%;
	background-image: url(../imagenes/bg_menu.jpg);
	position: fixed;
	z-index: 3;
	left: 10px;
	top: 0px;
 }
 

#menu li{list-style:none; text-decoration:none;}  
 
 /*Animacion CSS3 Submenu */

nav li ul {
   width: 0; /*Cambiamos la linea */
   margin:0;
   height:160px;
  /*display:none; Lo Eliminamos */
  background-image: url(../imagenes/bg_menu.jpg);
   position: absolute;
   left: 100%;
   top:200px;
   
   overflow:hidden; /* Para evitar Que se salgan los links */
   z-index:-1;/*El Submenu tiene que ir atras, para evitar que los 0 pixeles causen problema al :hover*/ 
   
   opacity: 0; 
   filter: alpha(opacity=0); /* Internet Explorer*/
   -webkit-transition: opacity 0.2s ease-in 0.3s, width 0.4s ease-in 0.3s;/* Chrome, Safari*/
   transition: opacity 0.2s ease-in  0.3s, width 0.4s ease-in 0.3s;/* Navegadores CSS3 */
   -moz-transition: opacity 0.2s ease-in  0.3s, width 0.4s ease-in 0.3s; /* Firefox 4 */
   -o-transition: opacity 0.2s ease-in 0.3s, width 0.4s ease-in 0.3s; /*Opera */
}
nav li:hover ul {
      /*display:block; Lo Eliminamos */
      
   width: 180px; /*La animación de 0 a 250px*/      
   opacity: 1;
   filter: alpha(opacity=100);/* Internet Explorer*/
   -webkit-transition: opacity 0.1s linear 0s, width 0.3s ease-out 0s;/* Chrome, Safari*/
   transition: opacity 0.1s linear 0s, width 0.3s ease-out 0s;/* Navegadores CSS3 */
   -moz-transition: opacity 0.1s linear 0s, width 0.3s ease-out 0s; /* Firefox 4 */
   -o-transition: oopacity 0.1s linear 0s, width 0.3s ease-out 0s; /* Opera */
}
 
 
 
 
 
 
 
 
 
 /* Estilo de boton verde */
.boton{
font:normal 13px Tahoma,Geneva,sans-serif;
font-style:normal;
color:#FFFFFF;
text-align: center;
background-color:#6b983f;
/*text-shadow:2px 1px 4px #000000;*/
padding:3px 15px;
cursor:pointer;

}

.boton:active{
cursor:pointer;
position:relative;
top:2px;
}
.boton:hover{
	background-color: #5bb206;
}
 
 /* Boton de menu */
.btnmenu {
	display:block;
	margin-top: 10px;
	width:150px;
	padding: 5px;
	
	
}


/* Boton imagenes de fondo */ 
 .btn_titulos { padding:4px 5px;}
 



/*fondo del registro*/
.registro {
background-color: rgba(0, 0, 0, 0.7); 
color: rgba(0, 0, 0, 0.7);
height: auto;
padding:5px;
margin-top:10px;
color:#FFF;
text-align: center;
}

.rPass  {font-size:0.8em; color:#FFF;  text-decoration:underline;  border:0px;  width:90%; text-align:center; cursor:pointer; background-color: rgba(0, 0, 0, 0);}

.rPass:hover  {font-size:0.8em; color:#FFF;  text-decoration:none;  border:0px;  width:90%; text-align:center; cursor:pointer; background-color: rgba(0, 0, 0, 0);}



#web a { color:#000;  text-decoration:none; font-size:0.9em; }
#web a:hover { text-decoration:underline; font-size:1em; }
