img { border:none; }
/*
#tituloCompras { background: url(../imagenes/tituloCompras.png) no-repeat center center; width: 287px; height:18px;}
*/

#vermas { float:right;}

.tituloCompras  {text-shadow: #000 2px 2px 3px; font-size:18px; font-family: 'Chalet-ParisNineteenEighty';  }

.tituloSlide {text-shadow: #000 2px 2px 5px; font-size:40px; font-family: 'Chalet-ParisNineteenEighty';margin-left:15px; }

.tituloSlide2 {text-shadow: #000 2px 2px 5px; font-size:40px; font-family: 'Chalet-ParisNineteenEighty'; margin-left:30px; }



.tituloComprasNegro  {text-shadow: #FFF 2px 2px 3px; color:#000; font-size:18px; font-family: 'Chalet-ParisNineteenEighty';  }

.tituloSlideNegro {text-shadow: #FFF 2px 2px 5px; color:#000;  font-size:40px; font-family: 'Chalet-ParisNineteenEighty';margin-left:15px; }

.tituloSlideNegro2 {text-shadow: #FFF 2px 2px 5px; color:#000;  font-size:40px; font-family: 'Chalet-ParisNineteenEighty'; margin-left:30px; }
	


	
	#supersized-loader { position:absolute; top:50%; left:50%; z-index:0; width:60px; height:60px; margin:-30px 0 0 -30px; text-indent:-999em; background:url(../img/progress.gif) no-repeat center center;}
	
	#supersized {  display:block; position:fixed; left:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%; }
		#supersized img { width:auto; height:auto; position:relative; display:none; outline:none; border:none; }
			#supersized.speed img { -ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges; }	/*Speed*/
			#supersized.quality img { -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }			/*Quality*/
		
		#supersized li { display:block; list-style:none; z-index:-30; position:fixed; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#111; }
		#supersized a { width:100%; height:100%; display:block; }
			#supersized li.prevslide { z-index:-20; }
			#supersized li.activeslide { z-index:-10; }
			#supersized li.image-loading { background:#111 url(../img/progress.gif) no-repeat center center; width:100%; height:100%; }
				#supersized li.image-loading img{ visibility:hidden; }
			#supersized li.prevslide img, #supersized li.activeslide img{ display:inline; }