/*

	Supersized - Fullscreen Slideshow jQuery Plugin
	Version : 3.2.7
	Site	: www.buildinternet.com/project/supersized
	
	Theme 	: Shutter 1.2
	Author	: Sam Dunn
	Company : One Mighty Roar (www.onemightyroar.com)
	License : MIT License / GPL License
	
*/

	/* Controls Bar
	----------------------------*/

			#slidecaption {


	float: left;
	color: #FFF;
	margin: 80px 20px 0 0;
	line-height: 42px;
	
	
}
			
	#play-button{ float:right; margin-top:1px; border-right:1px solid #333; background:url('../img/bg-hover.png') repeat-x 0 44px; }
	#play-button:hover{ background-position:0 1px; cursor:pointer; }
								
ul#slide-list{
	padding: 15px 0;
	float: left;
	position: absolute;
	right: 80px;
	z-index: 1;
}
					ul#slide-list li{ list-style:none; width:12px; height:12px; float:left; margin:0 5px 0 0; }
						ul#slide-list li.current-slide a, ul#slide-list li.current-slide a:hover{ background-position:0 0px; }
						ul#slide-list li a{ display:block; width:12px; height:12px; background:url('../img/nav-dot.png') no-repeat 0 -24px; }
							ul#slide-list li a:hover{ background-position:0 -12px; cursor:pointer; }
				
				#tray-button{ float:right; margin-top:1px; border-left:1px solid #333; background:url('../img/bg-hover.png') repeat-x 0 44px; }
					#tray-button:hover{ background-position:0 1px; cursor:pointer; }
		}
