.item
{
	width:250px;
	height:300px;
	display:block;
	float:left;
	margin:0px 70px 10px 0px;
	cursor:pointer;
	font-size:11px;
	color:white;
	position:relative;
	background-color:#b7b7b7;

	/*background-image:url(../img/[[[tertiary_color]]]/70);*/
}

.item:hover, .item_active
{
	/*background-image:url(../img/[[[quaternary_color]]]/20);*/
}

.item_img
{
	width:90%;
	height:228px;
	margin:4% 5% 0px 5%;
	display:block;
	background-repeat:no-repeat;
	background-position:center bottom;
	background-size:contain;

}

.item_more
{
	width:240px;
	height:14px;
	margin:0px;
	padding:5px;
	font-size:13px;
	line-height:14px;
	background-color:#6b983f;
	/*background-color:#[[[primary_color]]];*/
	position:absolute;
	bottom:0px;
	text-align:right;
}

.breveDescrip { margin-left:10px; margin-right:10px; display:block; clear:both; }

.close_btn
{
	display:block;
	float:right;
	margin:5px 5px 0 0;
	cursor:pointer;
}

#n_selected
{
	width:655px;
	height:400px;
	top:-50px;
	position:relative;
	top:-50px;
	display:block;
	/*background-image:url(../img/[[[tertiary_color]]]/95);*/
}

#n_img
{
	width:270px;
	height:270px;
	margin:15px 15px;
	display:block;
	float:left;
	background-size:contain;
	background-position:center center;
	background-repeat:no-repeat;
	
}

#n_title
{
	width:340px;
	margin:15px 15px 0 0;
	display:block;
	float:left;
	font-size:2em;
	font-weight:normal;
	font-family: 'Chalet-ParisNineteenEighty';
}

#n_txt
{
	width:340px;
	height:auto;
	margin:15px 15px 0 0;
	display:block;
	float:left;
}

#n_share_l
{
	width:48%;
	padding-left:2%;
	height:20px;
	display:block;
	float:left;
}

#n_share_r
{
	width:48%;
	padding-right:2%;
	height:20px;
	display:block;
	float:left;
	text-align:right;
	/*color:#[[[primary_color]]];*/
}